    <%= filepicker_js_include_tag %>
  <%= form_for(@client,url:clients_path) do |f| %>
      <div>
        <%= f.label :trx_url, "Upload Your Avatar:" %>
        <%= f.filepicker_field :trx_url %> <!-- User#avatar_url is a regular string column -->
      </div>

      <%= f.submit %>
    <% end %>