<%= filepicker_js_include_tag %>
<p id="notice"><%= notice %></p>

<h2>Existing Orgs</h2>
<table>
	  <% @clients.each do |c| %>
	  <tr>
	  <td><%=c.name%></td>
	<td><%= link_to 'Transactions', transactions_path(:org => c.id) %></td>
	<td><%= link_to 'Connectors', connectors_path(:org => c.id) %></td>
	<td><%= link_to 'Attributes', attrs_path(:org => c.id) %></td>
    <td><%= link_to 'Delete', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>

</tr>
<% end %>
</table>
<h2>New Org</h2>

  <%= form_tag({controller: "clients", action: "add_trx"}) do %>
      <div style="margin-top:50px"> 
		<%= label_tag :client_name %>
        <%= text_field_tag :name%>
		<br>
        <%= label_tag :trx_url, "Choose Transaction File:" %>
        <%= filepicker_field_tag :trx_url %>
		<br>
        <%= label_tag :attr_url, "Choose Attribute File:" %>
        <%= filepicker_field_tag :attr_url %>
		<br>
      </div>

      <%= submit_tag "Upload"%>
    <% end %>
		
	
	<p>Transaction file for full organization is the downloaded CSV output of <a href="http://hub-metabase-elb.us.mt.p.demystdata.com/card/431" target="_blank">Metabase card 431</a> with the org_id of the organization you care about substituted into "l.organization_id" in the SQL</p>
	<p>Transaction file for select libraries is the downloaded CSV output of <a href="http://hub-metabase-elb.us.mt.p.demystdata.com/card/432" target="_blank">Metabase card 432</a> with the library_id of the libraries you care about inserted into the "t.library_id=" in the SQL</p>
	<p>Attribute file for full organization is the downloaded CSV output of <a href="http://hub-metabase-elb.us.mt.p.demystdata.com/card/430" target="_blank">Metabase card 430</a> with the org_id of the organization you care about substituted into "l.organization_id" in the SQL</p>
	<p>Attribute file for select libraries is the downloaded CSV output of <a href="http://hub-metabase-elb.us.mt.p.demystdata.com/card/433" target="_blank">Metabase card 433</a> with the library_id of the libraries you care about inserted into the "a.library_id=" in the SQL</p>
	
	
	