<% @bins.distinct([:name,:connector]).pluck(:name,:connector).each do |name,connector|%>
<h3><%="#{name.capitalize} (#{connector.capitalize}) Binned Distribution"%></h3>
<%= column_chart @bins.where(name:name,connector:connector).group(:bin).average(:freq).sort_by{|k,v|k.to_f} %>
<% end %>

<% @factors.distinct([:name,:connector]).pluck(:name,:connector).each do |name,connector|%>
<h3><%="#{name.capitalize} (#{connector.capitalize}) Factored Distribution"%></h3>
<%= column_chart @factors.where(name:name,connector:connector).group(:level).average(:freq).sort_by{|k,v|k} %>
<% end %>

<% @bins.distinct([:name,:connector]).pluck(:name,:connector).each do |name,connector|%>
<h3><%="#{name.capitalize} (#{connector.capitalize}) Binned Distribution by Month"%></h3>
<% h = []
 @bins.where(name:name, connector:connector).distinct(:month).pluck(:month).sort.each do |mnth| 
	 h << {name:"#{mnth}",data:@bins.where(name:name,connector:connector,month:mnth).group(:bin).average(:freq).sort_by{|k,v|k.to_f}}
 end %>
<%= column_chart h %>
<% end %>


<% @factors.distinct([:name,:connector]).pluck(:name,:connector).each do |name,connector|%>
<h3><%="#{name.capitalize} (#{connector.capitalize}) Factored Distribution by Month"%></h3>
<% h = []
 @factors.where(name:name, connector:connector).distinct(:month).pluck(:month).sort.each do |mnth| 
	 h << {name:"#{mnth}",data:@factors.where(name:name,connector:connector,month:mnth).group(:level).average(:freq).sort_by{|k,v|k.to_f}}
 end %>
<%= column_chart h %>
<% end %>

<% @bins.distinct([:name,:connector]).pluck(:name,:connector).each do |name,connector|%>
<h3><%="#{name.capitalize} (#{connector.capitalize}) Binned Distribution by Week"%></h3>
<% h = []
 @bins.where(name:name, connector:connector).distinct(:week).pluck(:week).sort.each do |wk| 
	 h << {name:"#{wk}",data:@bins.where(name:name,connector:connector,week:wk).group(:bin).average(:freq).sort_by{|k,v|k.to_f}}
 end %>
<%= column_chart h %>
<% end %>


<% @factors.distinct([:name,:connector]).pluck(:name,:connector).each do |name,connector|%>
<h3><%="#{name.capitalize} (#{connector.capitalize}) Factored Distribution by Week"%></h3>
<% h = []
 @factors.where(name:name, connector:connector).distinct(:week).pluck(:week).sort.each do |wk| 
	 h << {name:"#{wk}",data:@factors.where(name:name,connector:connector,week:wk).group(:level).average(:freq).sort_by{|k,v|k.to_f}}
 end %>
<%= column_chart h %>
<% end %>

