<!DOCTYPE html>
<html>
  <head>
    <title>Charter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <table>
		  <tr>
			  <th><%=link_to "Transactions", transactions_path %></th>
			  <th><%=link_to "Connectors", connectors_path %></th>
			  <th><%=link_to "Attributes", attributes_path %></th>
		  </tr>
	  </table>
    <%= yield %>
  </body>
</html>
